# Binarios
gpb

# Configuración y Secretos (¡IMPORTANTE!)
config.yaml
token.json
client_secret.json

# Datos locales
*.jsonl
backup/

# Contexto de desarrollo
.project_context.md

# Sistema Operativo / IDE
.DS_Store
.idea/
.vscode/